.App {
  text-align: center;
}

/* home */
.btn-wrapper button {
  background-color: red;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  box-shadow: #000 0px 1px 5px;
}

.img-wrapper img {
  width: 100px;
}

.cart-wrapper {
  height: 150px;
  width: 500px;
  border: 1px solid #ccc;
}

.item {
  float: left;
  display: inline-block;
  width: 120px;
  padding: 20px;
  height: 70px;
}

.add-to-cart img {
  width: 60px;
  position: absolute;
  top: 1px;
  right: 1px;
}

/* */